<div class = "bg-image"></div>
<div class = "bg-text">
  <h1>Welcome to Palm Valley Barbers.</h1>
 <div class = "sec-text">
  <h3>Established 2019.</h3>
   <div class ="sec-button">
     <a href="/bookings" id="btnID" class ="btn btn-primary">Book a haircut</a>
   </div>
 </div>
</div>